# Ignore vivify bundles
*.vivify

# Export Zip
*.zip

# Bundle Info from Exporter
bundleinfo.json

# RM Cache
RM_Cache.json

# Autosaves from Chromapper
/autosaves

# Code Workspace
*.code-workspace

# Deno Lock
deno.lock

# Deps
deps.ts

# 2021 project (for quest)
/you_unity_2021