# Bundle files and their manifest files
bundle_windows2019*
bundle_windows2021*
bundle_android2019*
bundle_android2021*
bundle_windows2019*.manifest
bundle_windows2021*.manifest
bundle_android2019*.manifest
bundle_android2021*.manifest

# Export Zip
you.zip

# Bundle Info from Exporter
bundleinfo.json

# RM Cache
RM_Cache.json

# Autosaves from Chromapper
/autosaves

# Code Workspace
*.code-workspace

# Deno Lock
deno.lock